/* CSS HEX */
/* --honeydew: #d0ddd4ff;
--granite-gray: #686868ff;
--cinnabar: #f24333ff;
--egyptian-blue: #0a369dff;
--carnation-pink: #ff99c8ff; */

/* CSS HSL */
/* --honeydew: hsla(138, 16%, 84%, 1);
--granite-gray: hsla(0, 0%, 41%, 1);
--cinnabar: hsla(5, 88%, 57%, 1);
--egyptian-blue: hsla(222, 88%, 33%, 1);
--carnation-pink: hsla(332, 100%, 80%, 1); */

/* SCSS HEX */
/* $honeydew: #d0ddd4ff;
$granite-gray: #686868ff;
$cinnabar: #f24333ff;
$egyptian-blue: #0a369dff;
$carnation-pink: #ff99c8ff; */

/* SCSS HSL */
/* $honeydew: hsla(138, 16%, 84%, 1);
$granite-gray: hsla(0, 0%, 41%, 1);
$cinnabar: hsla(5, 88%, 57%, 1);
$egyptian-blue: hsla(222, 88%, 33%, 1);
$carnation-pink: hsla(332, 100%, 80%, 1); */

/* SCSS RGB */
/* $honeydew: rgba(208, 221, 212, 1);
$granite-gray: rgba(104, 104, 104, 1);
$cinnabar: rgba(242, 67, 51, 1);
$egyptian-blue: rgba(10, 54, 157, 1);
$carnation-pink: rgba(255, 153, 200, 1); */

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #d0ddd4ff, #686868ff, #f24333ff, #0a369dff, #ff99c8ff);
$gradient-right: linear-gradient(90deg, #d0ddd4ff, #686868ff, #f24333ff, #0a369dff, #ff99c8ff);
$gradient-bottom: linear-gradient(180deg, #d0ddd4ff, #686868ff, #f24333ff, #0a369dff, #ff99c8ff);
$gradient-left: linear-gradient(270deg, #d0ddd4ff, #686868ff, #f24333ff, #0a369dff, #ff99c8ff);
$gradient-top-right: linear-gradient(45deg, #d0ddd4ff, #686868ff, #f24333ff, #0a369dff, #ff99c8ff);
$gradient-bottom-right: linear-gradient(135deg, #d0ddd4ff, #686868ff, #f24333ff, #0a369dff, #ff99c8ff);
$gradient-top-left: linear-gradient(225deg, #d0ddd4ff, #686868ff, #f24333ff, #0a369dff, #ff99c8ff);
$gradient-bottom-left: linear-gradient(315deg, #d0ddd4ff, #686868ff, #f24333ff, #0a369dff, #ff99c8ff);
$gradient-radial: radial-gradient(#d0ddd4ff, #686868ff, #f24333ff, #0a369dff, #ff99c8ff); */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@700&display=swap');


:root {
    --library: #969A97;
    --headers: #F6F4F3;
    --cinnabar: #f24333ff;
    --egyptian-blue: #0a369dff;
    --carnation-pink: #ff99c8ff;
    --book-color: #E5ECE9;
    font-family: Roboto;
    font-size: 1vh;
}


#pallete {
    color: 
    #E2E2E2
    #979797
    #f24333ff
    #0a369dff
    #ff99c8ff;
}

* {
    /* outline: 1px solid blue; */
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--headers);
}

#pop-up {
    width: 30vw;
    height: fit-content;
    position: fixed;
    left: 35vw;
    top: 25vh;
    visibility: hidden;
    padding: 2rem;
    background-color: white;
    border: .5rem solid black;
    border-radius: 1rem;
}

#form {
    display: grid;
    grid-template: repeat(auto-fit, minmax(10px, 1fr)) / 1fr;
    gap: 1rem;
    height: 100%;
    width: 100%;
    font-size: 2rem;
}

#form input {
    width: 20vw;
    border-radius: .5rem;
    padding-left: 1rem;
    font-size: 2rem;
}

#add-Book {
    justify-self: center;
    border: 3px solid black; 
    cursor: pointer;
    border-radius: 0.5rem;
    padding: .3rem;
}

#cancelNewBook {
    text-align: right;
    font-size: 4rem;
    cursor: pointer;
}

#new-book-submit-button {
    grid-row: 2;
    grid-column: 1;
}

#change-Read-Status-div {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    width: 30vw;
    height: 30vh;
    position: fixed;
    left: 35vw;
    top: 25vh;
    padding: 1rem;
    background-color: white;
    justify-items: center;
    align-items: center;
    border: .7rem solid rgba(242, 67, 51, 0.5);
    border-radius: .5rem;
    box-shadow: 0 0 .4rem .1rem rgba(0, 0, 0, 0.5);
    z-index: 5;
    cursor: default;
    color: white;
}

/* #region ---- Change read status elements ---- */


#change-Read-Status-div-cover {
    display: grid;
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

#change-Read-Status-div > p {
    grid-row: 1;
    grid-column: 1 / 4;
    font-size: 3rem;
    color: black;
}

#change-Read-Status-div > #changeToRead {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    border: .2rem solid black;
    border-radius: .5rem;
    height: 4rem;
    width: 7rem;
    background-color: green;
    cursor: pointer;
}

#change-Read-Status-div > #changeToReading {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    border: .2rem solid black;
    border-radius: .5rem;
    height: 4rem;
    width: 10rem;
    background-color: orange;
    cursor: pointer;
}

#change-Read-Status-div > #changeToNotRead {
    grid-row: 2;
    grid-column: 3;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    border: .2rem solid black;
    border-radius: .5rem;
    height: 4rem;
    width: 12rem;
    background-color: gray;
    cursor: pointer;
}

#change-Read-Status-div > #cancelReadStatusChange {
    grid-row: 3;
    grid-column: 2;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    border: .2rem solid black;
    border-radius: .5rem;
    height: 4rem;
    width: 10rem;
    cursor: pointer;
    color: black;
}

#cancelReadStatusChange:hover, #changeToNotRead:hover, 
#changeToReading:hover, #changeToRead:hover {
    box-shadow: 0 0 .3rem .1rem rgba(0, 0, 0, 0.5);
}

#cancelReadStatusChange:active, #changeToNotRead:active, 
#changeToReading:active, #changeToRead:active {
    box-shadow: none;
    transform: scale(0.975);
}

/* #endregion  ---- Change read status elements ----*/

#content {
    display: grid;
    grid-template: 1fr 15fr 1fr / 1fr 7fr;
    height: 100vh;
    width: 100vw;
    gap: 1px;
}

#header {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background-color: var(--headers);
    border-bottom: 0.2rem solid gray;
    justify-content: center;
    align-content: center;
    font-size: 2.5rem;
    color: black;
    text-overflow: clip;
}

#left-column {
    grid-row: 2 / 4;
    grid-column: 1;
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
    background-color: var(--headers);
    padding: 1rem;
    border-right: .2rem solid #185cca;
}

#delete-book {
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

#library {
    /* display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: scroll; */
    display: grid;
    grid-template: auto / repeat(4, auto);
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    overflow-y: scroll;
    gap: 2rem;
    background-color: none;
    border-radius: 1rem;
    scrollbar-width: none;
    padding: 1rem;
    padding-bottom: 10rem;
    /* border: 0.1rem solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 .4rem 0.1rem rgba(0, 0, 0, 0.5) inset; */
}

#library::-webkit-scrollbar { 
    display: block;  /* Safari and Chrome */
}

#library::-webkit-scrollbar-thumb {
    background: #979797;
    border-radius: 10px;
  }

#new-book {
    display: grid;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    background-color: rgba(102, 102, 102, 0.548);
    background-color: var(--book-color);
    border-radius: 1rem;
    padding: 1rem;

    font-size: 1.5rem;
    box-shadow: 0 0 .3rem .1rem rgba(0, 0, 0, 0.5);
}

#new-book:hover {
    box-shadow: 0 0 .5rem .2rem rgba(0, 0, 0, 0.5);
    transform: scale(1.005);
}

#new-book:active {
    transform: scale(1);
}

.book {
    display: grid;
    grid-template: 4rem repeat(7,auto) / 1fr 2fr;
    background-color: var(--book-color);
    border-radius: 1rem;
    padding: 1rem;
    height: 35vh;
    width: 19vw;
    column-gap: 2rem;
    font-size: 1.5rem;
    box-shadow: 0 0 .3rem .1rem rgba(0, 0, 0, 0.5);
    align-items: center;
    row-gap: 1rem;
}

/* #region ---- Book elements position ----  */
.book > .image {
    grid-row: 2 / 9;
    grid-column: 1;
    margin: 0;
    background-image: url(img/default-book.svg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: 1rem solid white;
    width: 8vw;
    height: 28vh;
    background-color: white;
    cursor: pointer;
}

.book > .title {
    grid-row: 1;
    grid-column: 1 / 3;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 2rem;
    font-weight: 900;
    color: white;
    text-align: unset;
    padding-left: 0.1rem;
    cursor: pointer;
    text-shadow: 0.1rem 0.1rem 0 #000,
    -0.1rem 0.1rem 0 #000,
    0.1rem -0.1rem 0 #000,
    -0.1rem -0.1rem 0 #000,
    0px 0.1rem 0 #000,
    0px -0.1rem 0 #000,
    -0.1rem 0px 0 #000,
    0.1rem 0px 0 #000,
    0.2rem 0.2rem 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

.book > .authorInfo {
    grid-row: 2;
    grid-column: 2;
    margin: 0;
    padding: 0;
    color: gray;
    text-overflow: clip;
}

.book > .author {
    grid-row: 3;
    grid-column: 2;
    margin: 0;
    padding: 0;
    text-overflow: clip;
    border-bottom: .3rem solid black;
}

.book > .pages {
    grid-row: 4;
    grid-column: 2;
    margin: 0;
    padding: 0;
    border-bottom: .3rem solid black;
}

.book > .readInfo {
    grid-row: 5;
    grid-column: 2;
    margin: 0;
    padding: 0;
    color: gray;
}

.book > .readStatus {
    grid-row: 6;
    grid-column: 2;
    margin: 0;
    padding: 0.1rem;
    text-align: center;
    border: .2rem solid rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    color: white;
    
}

.book > .read-Status {
    grid-row: 7;
    grid-column: 2;
    border: .2rem solid #979797;
    background-color: rgba(255, 255, 255, 0);
    justify-self: center;
    align-self: center;
    cursor: pointer;
    border-radius: .5rem;
    padding: .3rem;
    text-align: center;
}

.read-Status:hover {
    border: .2rem solid black;
    background-color: rgba(255, 255, 255, 0.8);
}

.read-Status:active {
    box-shadow: 0 0 .3rem .1rem rgba(0, 0, 0, 0.5);
}

.book > .delete-Button {
    grid-row: 8;
    grid-column: 2;
    border: .2rem solid #979797;
    background-color: rgba(255, 122, 122, 0.8);
    justify-self: center;
    align-self: center;
    cursor: pointer;
    border-radius: .5rem;
    padding: .3rem;
    text-align: center;
}

.delete-Button:hover {
    border: .2rem solid #ff0000;
    background-color: rgb(255, 68, 68);
}

.delete-Button:active {
    box-shadow: 0 0 .3rem .1rem rgba(0, 0, 0, 0.5);
}

/* #endregion */

#right-column {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    grid-row: 2;
    grid-column: 3;
    background-color: var(--headers);
}

#footer {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    background-color: var(--headers);
    grid-template: 1fr 1fr 1fr / 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    gap: 0;
    border-top: .1rem solid orange;
}

#footer > p {
    margin: 0;
    padding: 0;
}


@media (min-width: 2560px) {
    /* .book, #new-book {
        height: 25vh;
        width: 19vw;
        font-size: 1rem;
    }

    .book > .image {
        width: 8vw;
        height: 23vh;
    } */

    #library {
        grid-template: auto / repeat(4, 1fr);
        grid-row: 2 / 3;
        grid-column: 2 / 2;
        overflow-y: scroll;
        gap: 2rem;
        padding: 2rem;
    }
    
}